@font-face {
  font-family: 'quicksandbold';
  src: url('../assets/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url('../assets/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksanddash';
  src: url('../assets/quicksand/quicksand_dash-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand_dash-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* web pages background color (only seen through a little)*/
  --html-bg-clr: lightgray;

  /* layout options/right side */
  --layout-options-container-bx-shadow-clr: lightgray;
  --curr-picked-layout-border-clr: #4ade8094;
  --unchosen-layout-border-clr: gray;

  /* resume/right side */
  --resume-bg-clr: white;
  --resume-font: Helvetica, 'Verdana', Calibri;
  --resume-text-color: black;
  --on-wiggle-bg-clr: #e5e7eb;
  --layout-side-and-button-font: 'quicksandbold';
  --layout-side-bg-clr: white;

  /* buttons */
  --sections-buttons-bg-clr: #e5e7eb;
  --sections-buttons-text-clr: black;
  --sections-buttons-text-decoration-clr: #D1D5DB;
  --sections-buttons-box-shadow-one: rgba(0, 0, 0, 0.5);
  --sections-buttons-box-shadow-two: rgba(0, 0, 0, 0.06);
  --sections-buttons-on-hover-clr: #cfd1d5;
  /* right side/layout side buttons */
  --layout-side-button-text-decoration-clr: #D1D5DB;
  --layout-side-button-text-clr: white;
  --download-button-bg-clr: lightcoral;
  --download-button-border-clr: red;
  --download-button-box-shadow-one:  rgba(0, 0, 0, 0.5);
  --download-button-box-shadow-two: rgba(255, 0, 0, 0.541);
  --download-button-on-hover-clr: rgb(223, 64, 64);
  --help-button-bg-clr: rgb(104, 169, 235);
  --help-button-border-clr: blue;
  --help-button-box-shadow-one:  rgba(0, 0, 0, 0.5);
  --help-button-box-shadow-two: rgba(0, 0, 255, 0.542);
  --help-button-on-hover-clr: rgb(0, 123, 255);

  /* editable divs */
  --editable-clr: #e5e7eb;
  --editable-on-focus-clr: rgba(173, 216, 230, 0.645);

  /* help modal */
  --help-modal-content-bg-clr: white;
  --help-modal-overlay-bg-clr: rgba(0, 0, 0, 0.4);
  --help-modal-font: 'quicksandbold';
}
