.add-button, 
.sub-button {
  position: absolute;
  background-color: #e5e7eb;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: black;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.15rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: scale 0.3s ease-in-out;
}

.add-button {
  top: -0.2rem;
  right: 0rem;
}

.sub-button {
  top: -0.2rem;
  right: 2.7rem;
}

.add-button:hover, 
.sub-button:hover, 
.ind-del:hover {
  background-color: #cfd1d5;
}

.add-button:focus, 
.sub-button:focus, 
.ind-del:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.add-button:focus-visible, 
.sub-button:focus-visible, 
.ind-del:focus-visible {
  box-shadow: none;
}

.add-button:active, 
.sub-button:active, 
.ind-del:active {
  transform: scale(1.02);
}

.ind-del {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  touch-action: manipulation;
  transition: scale 0.5s ease-in-out;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  color: black;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.ind-del {
  visibility: hidden;
}

.ind-del.vis {
  visibility: visible;
}

.ind-del-list {
  visibility: hidden;

  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  touch-action: manipulation;
  transition: scale 0.5s ease-in-out;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  color: black;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.ind-del-list.vis {
  visibility: visible;
}

.ind-del, 
.ind-del-list {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

button.no-hover {
  pointer-events: none;
}

.sub-top-add, 
.sub-button.sub-bottom {
  position: static;
  width: 1.5rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.sub-section.wiggle {
  animation: none;
}

.download-button {
  box-sizing: border-box;
  border: 2px solid red;
  background-color: lightcoral;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(255, 0, 0, 0.541);
}

.help-button {
  box-sizing: border-box;
  border: 2px solid blue;
  background-color: rgb(104, 169, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 255, 0.542);
}

.download-button, 
.help-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  border-radius: 0.5rem;
  box-sizing: border-box;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.15rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: scale 0.3s ease-in-out;
}

.help-button:hover {
  background-color: rgb(0, 123, 255);
}

.download-button:hover {
  background-color: rgb(223, 64, 64);
}

.download-button:focus, 
.help-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.download-button:focus-visible,
.help-button:focus-visible {
  box-shadow: none;
}

.download-button:active,
.help-button:active {
  transform: scale(1.02);
}

.download-button, 
.help-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 13in) {
  .download-button, 
  .help-button {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}