.add-button, 
.sub-button {
  position: absolute;
  background-color: var(--sections-buttons-bg-clr);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: var(--sections-buttons-text-clr);
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.15rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-align: center;
  text-decoration: none var(--sections-buttons-text-decoration-clr) solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 var(--sections-buttons-box-shadow-one), 0 1px 2px 0 var(--sections-buttons-box-shadow-two);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: scale 0.3s ease-in-out;
}

.add-button {
  top: -0.2rem;
  right: 0rem;
}

.sub-button {
  top: -0.2rem;
  right: 2.7rem;
}

.add-button:hover, 
.sub-button:hover, 
.ind-del:hover {
  background-color: var(--sections-buttons-on-hover-clr);
}

.add-button:focus, 
.sub-button:focus, 
.ind-del:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.add-button:focus-visible, 
.sub-button:focus-visible, 
.ind-del:focus-visible {
  box-shadow: none;
}

.add-button:active, 
.sub-button:active, 
.ind-del:active {
  transform: scale(1.02);
}

.ind-del {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sections-buttons-bg-clr);
  touch-action: manipulation;
  transition: scale 0.5s ease-in-out;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  color: var(--sections-buttons-text-clr);
  text-decoration: none var(--sections-buttons-text-decoration-clr) solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 var(--sections-buttons-box-shadow-one), 0 1px 2px 0 var(--sections-buttons-box-shadow-two);
}

.ind-del {
  visibility: hidden;
}

.ind-del.vis {
  visibility: visible;
}

.ind-del-list {
  visibility: hidden;

  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(var(--sections-buttons-bg-clr));
  touch-action: manipulation;
  transition: scale 0.5s ease-in-out;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  color: var(--sections-buttons-text-clr);
  text-decoration: none var(--sections-buttons-text-decoration-clr) solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 var(--sections-buttons-box-shadow-one), 0 1px 2px 0 var(--sections-buttons-box-shadow-two);
}

.ind-del-list.vis {
  visibility: visible;
}

.ind-del, 
.ind-del-list {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

button.no-hover {
  pointer-events: none;
}

.sub-top-add, 
.sub-button.sub-bottom {
  position: static;
  width: 1.5rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.sub-section.wiggle {
  animation: none;
}

.download-button {
  box-sizing: border-box;
  border: 2px solid var(--download-button-border-clr);
  background-color: var(--download-button-bg-clr);
  box-shadow: 0 1px 3px 0 var(--download-button-box-shadow-one), 0 1px 2px 0 var(--download-button-box-shadow-two);
}

.help-button {
  box-sizing: border-box;
  border: 2px solid var(--help-button-border-clr);
  background-color: var(--help-button-bg-clr);
  box-shadow: 0 1px 3px 0 var(--help-button-box-shadow-one), 0 1px 2px 0 var(--help-button-box-shadow-two);
}

.download-button, 
.help-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  border-radius: 0.5rem;
  box-sizing: border-box;
  color: var(--layout-side-button-text-clr);
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.15rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-decoration: none var(--layout-side-button-text-clr) solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: scale 0.3s ease-in-out;
}

.help-button:hover {
  background-color: var(--help-button-on-hover-clr);
}

.download-button:hover {
  background-color: var(--download-button-on-hover-clr);
}

.download-button:focus, 
.help-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.download-button:focus-visible,
.help-button:focus-visible {
  box-shadow: none;
}

.download-button:active,
.help-button:active {
  transform: scale(1.02);
}

.download-button, 
.help-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 13in) {
  .download-button, 
  .help-button {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}