@font-face {
  font-family: 'quicksandbold';
  src: url('../assets/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.help-modal {
  font-family: 'quicksandbold';
  font-size: 90%;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.help-modal.vis {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.help-modal-content {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-160%);
  transition: transform 0.4s ease-in-out;
}

.help-modal-content.vis {
  transform: translateY(0);
}

.help-modal button {
  appearance: none;
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.help-modal button:hover {
  transform: scale(1.1);
}

.content {
  padding: 6rem;
  text-align: center;
}

.help-modal button svg {
 height: 16px;
 width: 16px;
}

.icon svg {
  width: 5%;
  height: 5%;
}

@media (max-width: 1000px) {
  .help-modal-content {
    height: 60%;
    width: 60%;
    overflow: scroll;
  }

  .content {
    padding: 3rem;
  }
}

@media (max-width: 500px) {
  .help-modal-content {
    height: 80%;
    width: 100%;
    overflow: scroll;
  }

  .content {
    padding: 1rem;
  }
}

@media (max-height: 350px) {
  .help-modal-content{
    height: 100%;
    width: 100%;
  }
}