html {
  background-color: var(--html-bg-clr);
}

body {
  margin: 0;
  padding: 0;
}

#root  {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}