.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: large;
  font-weight: bold;

  width: 100%;
  height: 100%;
  background-color: lightgray;

  border-radius: 1rem;
}

.vertical-heading-layout {
  display: none;

  padding: 0;
  margin: 0;

  padding-right: 1rem;
  padding-left: 1rem;
}

.letter {
  font-weight: bold;
}

.heading-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-layout > h4 {
  padding: 0;
  margin: 0;
}

.layout-choices {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 1.4rem;
  border-radius: 1rem;
  height: 100%;
  box-shadow: inset 2px 2px 5px 5px var(--layout-options-container-bx-shadow-clr);
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always; /* Optional for smooth snapping */
}

.layout-choices > * {
  /* goes on the children */
  scroll-snap-align: center;
}

.layout {
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 4px solid var(--unchosen-layout-border-clr);
}

img.curr-layout {
  border: 4px solid var(--curr-picked-layout-border-clr)
}

.layout:active {
  transform: scale(1.1);
}

.layout > img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  border-radius: 1rem;
}


@media (max-width: 13in) {

  .heading-layout > h4 {
    display: none;
  }

  .vertical-heading-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .layout-choices {
    width: 100%;
    height: 200px;
    flex-direction: column;

  }

  .layout {
    width: 150px;
  }

}