.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: large;
  font-weight: bold;

  width: 100%;
  height: 100%;
  background-color: var(--layout-bg-clr);
  border-radius: 1rem;
}

.vertical-heading-layout {
  display: none;

  padding: 0;
  margin: 0;

  padding-right: 1rem;
  padding-left: 1rem;
}

.letter {
  font-weight: bold;
}

.heading-layout {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: -1.3rem;
}

.heading-layout > h4 {
  padding: 0;
  margin: 0;
}

.layout-choices {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 1.4rem;
  border-radius: 0.2rem;
  height: 100%;
  box-shadow: inset 2px 2px 5px 5px var(--layout-options-container-bx-shadow-clr);
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always; /* Optional for smooth snapping */
}

.layout-choices > * {
  /* goes on the children */
  scroll-snap-align: center;
}

.layout {
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 4px solid var(--unchosen-layout-border-clr);

  padding: 2rem;
  min-height: 220px;
}

.font-name {
  position: absolute;
  bottom: 50%;
  font-size: 3rem;
}

.layout.curr-layout {
  border: 4px solid var(--curr-picked-layout-border-clr)
}

.layout:active {
  transform: scale(1.1);
}

.fonts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.drop-down-box {
  width: 100%;
}

#font-select {
  width: 100%;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: larger;
  background-color: #f1f5f9;
}

#font-select:focus {
  outline: 2px solid var(--editable-on-focus-clr);
}

.fonts > h4 {
  padding: 0;
  margin: 0;
}

.layout-one {
  /* gap: 1rem; */
  justify-content: space-between;
}

.layout-one, 
.layout-one-top, 
.mini-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Mini Top  */
.layout-one-top div:first-child { 
  font-size: 1.5rem;
}

.layout-one-top div:last-child {
  font-size: 0.8rem;
}

.mini-content {
  width: 100%;
  text-align: center;
}

.mini-header {
  align-items: flex-start;
}

.mini-header-title {
  font-size: 1rem;
}

.mini-divider {
  width: 100%;
  height: 0;
  border: 0.01rem solid black;
}