@font-face {
  font-family: 'quicksandbold';
  src: url('../assets/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'quicksandregular';
  src: url('../assets/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'quicksanddash';
  src: url('../assets/quicksand/quicksand_dash-webfont.woff2') format('woff2'),
       url('../assets/quicksand/quicksand_dash-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.all-content {
  box-sizing: border-box;

  display: flex;
  gap: 0.3rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0.5rem;

  min-height: 350px;
}

.page {
  min-height: 11in;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.left, 
.right {
  filter: blur(0);
  transition: filter 1.5s ease-in-out; 
}

.left.modal-mode, 
.right.modal-mode {
  filter: blur(2px);
}


.left {
  overflow: scroll;
  font-family: Helvetica, 'Verdana', Calibri;
}

.right, 
button {
  font-family: 'quicksandbold'
}

.right {
  /* maybe 8.5 */
  width: calc(100vw - 8.5in); 
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  gap: 1.5rem;
}

@media (max-width: 13in) {

  .all-content {
    flex-direction: column;
  }

  .right {
    flex-direction: row;
    width: calc(100vw - 3rem);
  }

}
