.add-button, 
.sub-button {
  position: absolute;
  background-color: #e5e7eb;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: black;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.15rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: scale 0.3s ease-in-out;
}

.add-button {
  top: -0.2rem;
  right: 0rem;
}

.sub-button {
  top: -0.2rem;
  right: 2.7rem;
}

.add-button:hover, 
.sub-button:hover, 
.ind-del:hover {
  background-color: #cfd1d5;
}

.add-button:focus, 
.sub-button:focus, 
.ind-del:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.add-button:focus-visible, 
.sub-button:focus-visible, 
.ind-del:focus-visible {
  box-shadow: none;
}

.add-button:active, 
.sub-button:active, 
.ind-del:active {
  transform: scale(1.02);
}

.ind-del {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  touch-action: manipulation;
  transition: scale 0.5s ease-in-out;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  color: black;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.ind-del {
  visibility: hidden;
}

.ind-del.vis {
  visibility: visible;
}

.add-button:disabled {
  opacity: 0.5;
}

.add-button.no-hover {
    pointer-events: none;
}