:root {
  --editable-clr: lightgray;
}

.editable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editable .textarea {
  appearance: none;
  background-color: var(--editable-clr);
  border: none;
  border-radius: 1rem;
  padding: 0;
  padding-left: 0.3rem;
  padding-right: 0.5rem;
  transition: width 0.2s ease, background-color 0.2s ease;
}

.editable .textarea.off {
  background-color: transparent;
}

.editable .textarea {
  word-wrap: break-word; /* Ensures words wrap to the next line */
  overflow-wrap: break-word; /* Modern equivalent for consistent wrapping */
  word-break: break-word; /* Handles long words or strings */
  white-space: pre-wrap; /* Ensures line breaks and spaces are respected */
}

li#education-uni-courses.textarea::before {
  content: "Relevant Coursework: ";
  font-weight: bold;
}

.editable:has(> ul) .textarea {
  width: calc(100% - 2.8rem);
  margin-left: 2.8rem;
}

.editable:has(> ul) {
  justify-content: flex-start;
}
