:root {
  --editable-clr: #e5e7eb;
}

.editable {
  /* border: 1px solid red; */

  caret-color: transparent;
  border-radius: 1rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, 
}

.editable.clicked {
  background-color: var(--editable-clr);
}

.editable:focus {
  border: none;
  outline: none;
  caret-color: transparent;
}


.caret-on:focus {
  outline: 2px solid rgba(173, 216, 230, 0.645);
  caret-color: auto;
}
