html {
  background-color: lightgray;
  /* overflow-x: hidden; */
  /* for safari x-axis scrolling */
  /* overscroll-behavior-x: none; */
}

#root {
  display: flex;
  gap: 0.3rem;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 13in) {
  #root {
    flex-direction: column;
  }
}