html {
  background-color: lightgray;
}

#root {
  /* for when i add right side */
  /* display: flex;
  gap: 0.5rem; */

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 12rem;
  padding-right: 12rem;
}