* {
  font-family: "Helvetica", "Arial", sans-serif;
}

:root {
  --text-clr: black;
  --button-clr: lightgray;
}

.page {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
  box-shadow: 5px 2px 15px 3px gray;
  padding: 3rem;
  gap: 1.3rem;
  min-width: 500px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider, 
.section-header {
  width: 100%;
}

.section-header {
  display: flex;
  flex-direction: column;
  margin-bottom: -1rem;
}

.section-header h3 {
  font-weight: 520;
}

.divider {
  border: 0.06rem solid black
}

svg {
  width: 16px;
  height: 16px;
}

.sub {
  display: flex;
  justify-content: space-between;
}

.sub:has(li) {
  flex-direction: column;
}

.education {
  display: flex;
  flex-direction: column;
}


/* wiggle animation for when edit is clicked on an editable */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  45% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
