:root {
  --page-text-clr: black;
  --accent-clr: lightgray;
}

body {
  position: relative;
}

.edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  appearance: none;
  background-color: var(--accent-clr);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: large;
  transition: transform 0.3s ease-in-out;
}

.edit:hover {
  transform: scale(1.1);
}

.edit:active {
  opacity: 0.1;
}

.box.active {
  background-color: var(--accent-clr);
  border-radius: 0.3rem;
  animation: wiggle 1s linear infinite;
}

.del {
  box-sizing: border-box;
  border: 1px solid white;
  appearance: none;
  background-color: var(--accent-clr);
  border-radius: 50%; /* Ensure the button stays circular */
  font-size: xx-small; /* Control the size of the '-' */
  color: white;
  padding: 0; /* Remove any extra padding */
  width: 1rem; /* Set explicit width */
  height: 1rem; /* Set explicit height */
  display: flex; /* Center the content */
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.del.vis-a {
  visibility: visible;
}

.del:hover {
  transform: scale(1.1);
}

#divider {
  width: 100%;
  height: 0.08rem;
  background-color: var(--page-text-clr);
}

.page {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 5px 2px 15px 3px gray;
  padding: 3rem;
  gap: 1.3rem;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.name {
  align-self: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.page svg {
  width: 16px;
  height: 16px;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.phone-num, 
.email,
.linked-in, 
.github {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.phone-num > a {
  text-decoration: none;
}

a {
  color: var(--page-text-clr);
  cursor: pointer;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.section-title {
  font-weight: lighter;
}

.universities {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.uni-meta {
  display: flex;
  justify-content: space-between;
}

.uni-name-date p:first-child {
  font-weight: bold;
}

.uni-degree-location {
  font-size: smaller;
  font-style: italic;
}

.universities ul {
  padding-left: 1rem;
  font-size: smaller;
}

.universities li::before {
  content: "Relevant Coursework:";
  font-weight: bold;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  45% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
