:root {
  --text-color: black;
}

p {
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.section-title {
  font-size: larger;
}

.divider {
  width: 100%;
  border: 0.05rem solid var(--text-color);
}

.section-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.sub-section {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sub-top, 
.sub-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-name {
  font-size: 1rem;
  font-weight: bold;
}

.proj-line {
  font-weight: normal;
}

.proj {
  font-style: italic;
  font-weight: normal;
}

.sub-date {
  font-size: 1rem;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 0.9rem;
}

.sub-title, 
.sub-city-and-state {
  font-size: 0.9rem;
  font-style: italic;
}

.outer.ed > li::before {
  content: 'Relevant Coursework: ';
  font-weight: bold;
}

.section-info.skills strong {
  font-size: 1rem;
}

.section-info.skills {
  gap: 0.2rem;
  font-size: 0.9rem;
}